
<div class="hero-unit">
  <h1>Role: Admin </h1>
  <p>By having admin role, you can create new user and assign roles to them. <br />
    Apart from that, you can update (adding, deleting) their roles as well.</p>
  <p><a class="btn btn-primary btn-large">Learn more »</a></p>
</div>
