<div class="span3 process-nav">
   <div class="well sidebar-nav">
     <ul class="nav nav-list">
       
       <% if current_user.has_role?(:admin) %>
         <li class="nav-header">Admin</li>
         
         <li class="<%= get_active_state(ADMIN_SECTION[:create_employee] , params )%>">
           <%= link_to "Create Employee", new_employee_url %>
          </li>
         <li class="<%= get_active_state(ADMIN_SECTION[:all_employees] , params )%>">
           <%= link_to "All Employees", all_employees_url %>
          </li>
       <% end %>
       
       <% if current_user.has_role?(:cashier) %>
         <li class="nav-header">Cashier</li>
         <li><a href="#">Approve Payment</a></li>
         <li><a href="#">Pending Approval</a></li>
         <li><a href="#">View Debt Collector</a></li>
         <li><a href="#">All Approved</a></li>
         <li><a href="#">All Unapproved</a></li>
       <% end %>
       
       <% if current_user.has_role?(:loancreator)%>
         <li class="nav-header">Loan Creator</li>
         <li><a href="#">Create Loan</a></li>
         <li><a href="#">All Loans</a></li>
         <li><a href="#">View Payments</a></li>
       <% end %>

       <% if current_user.has_role?(:debtcollector)%>
         <li class="nav-header">Debt Collector</li>
         <li><a href="#">All Accounts </a></li>
         <li><a href="#">Approved Payments</a></li>
         <li><a href="#">Pending Approval</a></li>
         <li><a href="#">Not Approved</a></li>
       <% end %>
       

            
     </ul>
   </div><!--/.well -->
 </div><!--/span-->