
<li class="child_comment clearfix">
  <a href="#" class="thumbnail child-avatar-wrapper" style="text-align:center;" >
    <img  src="<%= DEFAULT_PROFILE_PIC_URL %>" class="avatar"  >
    
  </a>

  <div class="child-particulars">
    <div class="name" > 
      <% if child_comment.user.has_role?(:student)%>
        <span class="label">Student</span>
      <% elsif child_comment.user.has_role?(:teacher) %>
        <span class="label label-info">Teacher</span>
      <% end %>
      <%= child_comment.user.name %>
    </div>
    
    <blockquote class="pull-right">
      <p><%= child_comment.body%></p>
    </blockquote>
  </div>
  <br />
</li>

