<h3>Revision List</h3>

<ul class="thumbnails">
  
  <% all_revisions.each do |revision| %>
  <li class="span6">
    <%= link_to project_submission_picture_url(project_submission, revision),
            :class => "thumbnail #{class_for_current_displayed_revision(revision, current_display)}" do %>
      <%= image_tag revision.get_icon("revision") %>
    <% end %>
    
    <p>
      <%= get_picture_status_label(revision ).html_safe %>
    </p>
  </li>
  <% end %>


  

</ul>
  
  