<h3>Original</h3>
<ul class="thumbnails">
  <li class="span6">
    <%= link_to project_submission_picture_url(project_submission, original_picture), 
          :class => "thumbnail" do %>
      <%# if original_picture.picture_filetype == PICTURE_FILETYPE[:image] %>
        <%#= image_tag original_picture.revision_image_url %>
      <%# else %>
        <%= image_tag original_picture.get_icon("revision") %>
      <%# end %>
      
    <% end %>
    <p>
      
      <%= get_picture_status_label(original_picture ).html_safe %>
      
    </p>
  </li>
</ul>