
<div class="span9 content">
  <%= create_guide("Select Subject", 
        "First, select the subject which student you are about to assign.").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>

  
  <div class="row-fluid">
    <!-- <div class="span12"> -->
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Total Teachers</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= link_to "#{course.name}", new_course_course_registration_url(course) %></td>
              <td>4</td>
            </tr>
          <% end %>


         
        </tbody>
      </table>

      
      
      
    <!-- </div> -->   <!--/span12-->
  </div><!--/row-->

</div><!--/span-->

<%# content_for :additional_js  do %>
 
  <%#= javascript_include_tag "DT.js" %> 
  <%#= javascript_include_tag "DT_bootstrap.js" %> 
<%# end %>