<div class="row">
  
  <h3>This is the one for EVENT_TYPE[:create_comment]</h3>
  
  <table>
    <tbody>
      <tr>
        <td>
          <%= image_tag Picture.last.index_image_url %>
        </td>
        <td style="vertical-align:top;">
          <blockquote>Ini fokusnya kurang, dan menghadap matahari sehingga tampilannya gelap. 
            Jika kamu menggunakan fokus yang lebih besar dan tidak menghadap matahari langsung, akan
            menjadi jauh lebih indah.</blockquote>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <p><a href="#" class="btn">Lihat Gambar »</a></p>
</div>

<hr />