
<div class="span9 content">
  <%= create_guide("Submission List ", 
        "All submissions for project:  <b>#{@project.title}</b>" + "<br />" + 
        "Student Name: <b>#{@user.name}</b>"+ "<br />" + 
        "Student NIM : <b>#{@user.nim}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  <!-- display the uploaded image here!  -->
  <div class="span12">
    
      <ul class="thumbnails" id="uploaded_image_container">
        <% @original_pictures.each do |original_picture| %>
        
          <%= render :partial => "pictures/picture_display_for_grading" , :locals => {
            :original_picture => original_picture,
            :project_submission => @project_submission
          }%>
          
        <% end %>
      </ul>
  </div>
  
</div><!--/span-->
