
<div class="span9 content">
  <%= create_guide("Upload Submission", 
        "Submit the result for project:  <b>#{@project.title}</b>").html_safe %>
  
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  

  <!-- display the uploaded image here!  -->
  <div class="span12">
    
      <ul class="thumbnails" id="uploaded_image_container">
        <% @original_pictures.each do |picture| %>
        
        <%= render :partial => "pictures/picture_display_for_grading" , :locals => {
          :picture => picture,
          :project_submission => @project_submission
        }%>
                
                
                
          
        <% end %>
      </ul>
  </div>
  
</div><!--/span-->
